* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Gill";
  font-style: italic;
  font-weight: normal;
  src: url(fonts/GillSans.ttf);
}
@font-face {
  font-family: "PTBold";
  src: url(fonts/PTSerif-Bold.ttf);
}
@font-face {
  font-family: "PTBoldItalic";
  src: url(fonts/PTSerif-BoldItalic.ttf);
}
@font-face {
  font-family: "PTItalic";
  src: url(fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: "PTRegular";
  src: url(font/PTSerif-Regular.ttf);
}
.home-white-nav {
  max-width: 980px;
  min-height: 75px;
  border-bottom: white solid 2px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 64px;
  padding-top: 15px;
  position: relative;
  z-index: 99;
}
.home-white-nav .logo {
  width: 92px;
  height: 42px;
  background-image: url(../assets/logo/logo-white.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-white-nav .links {
  width: 389px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 23px;
}
.home-white-nav .links a {
  font-family: Gill;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.home-white-nav .links span {
  color: #ee4367;
}

.home-hero-image {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../assets/images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

@media only screen and (max-width: 1075px) {
  .hero nav {
    display: block;
    min-height: 100px;
  }
  .hero nav .logo {
    margin: 0 auto;
  }
  .hero nav .links {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.black-nav {
  max-width: 980px;
  min-height: 75px;
  border-bottom: black solid 2px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
}
.black-nav .logo {
  width: 92px;
  height: 42px;
  background-image: url(../assets/logo/logo-black.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.black-nav .links {
  width: 389px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 23px;
}
.black-nav .links a {
  font-family: Gill;
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.black-nav .links span {
  color: #ee4367;
}

@media only screen and (max-width: 1075px) {
  .black {
    display: block;
    min-height: 100px;
  }
  .black .black-logo {
    margin: 0 auto;
  }
  .black .black-links {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.hero-content {
  max-width: 420px;
  height: 220px;
  margin: 0 auto;
  margin-top: 64px;
  text-align: center;
  position: relative;
  top: 64px;
}
.hero-content h1 {
  font-family: PTRegular;
  font-weight: normal;
  letter-spacing: 0.52;
  font-size: 40px;
  color: white;
}
.hero-content p {
  font-family: Gill;
  font-style: italic;
  font-size: 20px;
  color: white;
  margin-bottom: 50px;
}
.hero-content .pink {
  font-family: Gill;
  font-style: italic;
  font-size: 20px;
  color: #ee4367;
  margin-bottom: 50px;
}
.hero-content button {
  width: 122px;
  height: 40px;
  background-color: #ee4367;
  border: none;
  font-family: Gill;
  font-size: 15px;
  color: white;
}

.home-content {
  max-width: 789px;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 564px;
}
.home-content .quote {
  min-height: 300px;
}
.home-content .quote .quote-text {
  min-height: 90px;
  font-family: Gill;
  font-size: 15px;
  font-style: italic;
  color: #ffd140;
  margin: 0 auto;
  margin-top: 77px;
  line-height: 22px;
}
.home-content .quote .name {
  font-family: PTRegular;
  font-style: normal;
  font-size: 15px;
  color: #ee4367;
  margin-top: 20px;
}
.home-content .quote .title {
  font-family: PTRegular;
  font-style: normal;
  font-size: 10px;
  color: #a8a8a8;
}

@media only screen and (max-width: 1075px) {
  .home-content .quote {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.events-content {
  width: 100%;
  min-height: 320px;
  background-color: #540d6e;
  padding-top: 40px;
}
.events-content h1 {
  width: 392px;
  height: 37px;
  border-bottom: white solid 2px;
  font-family: Gill;
  font-size: 25px;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
}
.events-content .events {
  min-height: 135px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 72px;
}
.events-content .events .date {
  max-width: 300px;
  min-height: 125px;
  display: flex;
  justify-content: space-between;
}
.events-content .events .date .date-image {
  width: 60px;
  height: 60px;
  background-color: seagreen;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.events-content .events .date .event-text {
  max-width: 140px;
  min-height: 125px;
  margin-left: 15px;
}
.events-content .events .date .event-text p {
  font-family: Gill;
  font-size: 15px;
  color: white;
}
.events-content .events .date .event-text .pink-text {
  font-size: 13px;
  color: #ee4367;
}
.events-content .events .jun06 {
  background-image: url(../assets/dates/june06.png);
}
.events-content .events .jul30 {
  background-image: url(../assets/dates/jul30.png);
}
.events-content .events .aug30 {
  background-image: url(../assets/dates/aug30.png);
}
.events-content .events .nov23 {
  background-image: url(../assets/dates/nov23.png);
}
.events-content .events .dec23 {
  background-image: url(../assets/dates/dec23.png);
}

@media only screen and (max-width: 1075px) {
  .events-content h1 {
    margin: 0 auto;
  }
  .events-content .events {
    max-width: 1100px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
  }
}
.about-image {
  max-width: 980px;
  height: 378.75px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../assets/images/about.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 85.5px;
  display: flex;
}
.about-image h1 {
  max-width: 229px;
  width: 229px;
  margin: 354px auto 0 0;
  font-family: Gill;
  font-size: 25px;
  color: black;
  height: 40px;
  border-bottom: black solid 2px;
}

.about-content {
  max-width: 980px;
  min-height: 96px;
  font-family: Gill;
  font-style: italic;
  opacity: 0.5;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 36.5px;
  margin-bottom: 95px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 1075px) {
  .about-image h1 {
    margin-left: 15px;
  }
}
.gallery-content {
  max-width: 980px;
  min-height: 582px;
  margin: 0 auto;
  margin-top: 86px;
  margin-bottom: 60px;
}
.gallery-content h1 {
  max-width: 229px;
  width: 229px;
  margin: 29.5px auto 29.5 0;
  font-family: Gill;
  font-size: 25px;
  color: black;
  height: 40px;
  border-bottom: black solid 2px;
}
.gallery-content .gallery-wrapper {
  max-width: 980px;
  min-height: 513px;
}
.gallery-content .gallery-wrapper .row-one {
  min-height: 187px;
  display: flex;
  justify-content: space-between;
}
.gallery-content .gallery-wrapper .row-one .image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-content .gallery-wrapper .row-one .one {
  width: 489px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../assets/gallery/1.png);
}
.gallery-content .gallery-wrapper .row-one .two {
  width: 187px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../assets/gallery/2.jpeg);
}
.gallery-content .gallery-wrapper .row-one .three {
  width: 265px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url(../assets/gallery/3.jpg);
}
.gallery-content .gallery-wrapper .row-two {
  min-height: 306px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.gallery-content .gallery-wrapper .row-two .image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-content .gallery-wrapper .row-two .four {
  width: 603px;
  height: 306px;
  background-image: linear-gradient(to right, rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url(../assets/gallery/4.jpg);
}
.gallery-content .gallery-wrapper .row-two .five {
  width: 355px;
  height: 306px;
  background-image: linear-gradient(to right, rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url(../assets/gallery/5.png);
}

@media only screen and (max-width: 1000px) {
  .gallery-content h1 {
    margin-left: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .gallery-content .gallery-wrapper {
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .gallery-content .gallery-wrapper .row-one {
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .gallery-content .gallery-wrapper .row-one .one {
    margin-bottom: 20px;
  }
  .gallery-content .gallery-wrapper .row-one .two {
    width: 490px;
    margin-bottom: 20px;
  }
  .gallery-content .gallery-wrapper .row-one .three {
    width: 490px;
  }
  .gallery-content .gallery-wrapper .row-two {
    flex-wrap: wrap;
  }
  .gallery-content .gallery-wrapper .row-two .four {
    width: 490px;
    height: 187px;
    margin-bottom: 20px;
  }
  .gallery-content .gallery-wrapper .row-two .five {
    width: 490px;
    height: 187px;
    margin-bottom: 20px;
  }
}
.foodfest-content .foodfest-image {
  max-width: 980px;
  margin: 50.5px auto 0 auto;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../assets/gallery/1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.foodfest-content .foodfest-image .foodfest-image-text {
  display: flex;
}
.foodfest-content .foodfest-image .foodfest-image-text h1 {
  font-family: Gill;
  font-size: 300px;
  color: #ffd140;
  margin-top: 120px;
  text-shadow: 5px 5px 6px #00000029;
}
.foodfest-content .foodfest-image .foodfest-image-text h2 {
  font-family: Gill;
  font-size: 140px;
  color: #ffd140;
  margin-top: 268px;
  text-shadow: 5px 5px 6px #00000029;
}
.foodfest-content .foodfest-text {
  max-width: 980px;
  min-height: 133px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}
.foodfest-content .foodfest-text p {
  font-family: Gill;
  font-style: italic;
  font-size: 16px;
  opacity: 0.5;
  max-width: 490px;
  min-height: 200px;
  margin-top: 50.5px;
  margin-bottom: 73px;
  letter-spacing: 1.2px;
}
.foodfest-content .foodfest-text .text2 {
  max-width: 451px;
  font-size: 16px;
  letter-spacing: 0.9px;
}

@media only screen and (max-width: 1000px) {
  .foodfest-content .foodfest-image .foodfest-image-text {
    margin: 0 auto;
  }
  .foodfest-content .foodfest-image .foodfest-image-text h1 {
    font-size: 240px;
    margin-top: 177px;
  }
  .foodfest-content .foodfest-image .foodfest-image-text h2 {
    font-size: 100px;
    line-height: 85px;
    max-width: 300px;
    margin-top: 237px;
  }
  .foodfest-content .foodfest-text {
    display: block;
    max-width: 440px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .foodfest-content .foodfest-text p {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.deejay-content .deejay-image {
  max-width: 980px;
  margin: 50.5px auto 0 auto;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../assets/gallery/2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.deejay-content .deejay-image .deejay-image-text {
  display: flex;
}
.deejay-content .deejay-image .deejay-image-text h1 {
  font-family: Gill;
  font-size: 300px;
  color: #ee4367;
  margin-top: 120px;
  text-shadow: 5px 5px 6px #00000029;
}
.deejay-content .deejay-image .deejay-image-text h2 {
  font-family: Gill;
  font-size: 140px;
  color: #ee4367;
  margin-top: 268px;
  text-shadow: 5px 5px 6px #00000029;
}
.deejay-content .deejay-text {
  max-width: 980px;
  min-height: 133px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.deejay-content .deejay-text p {
  font-family: Gill;
  font-style: italic;
  font-size: 16px;
  opacity: 0.5;
  max-width: 490px;
  min-height: 200px;
  margin-top: 50.5px;
  margin-bottom: 73px;
  letter-spacing: 1.2px;
}
.deejay-content .deejay-text .text2 {
  max-width: 451px;
  font-size: 16px;
  letter-spacing: 0.9px;
}

@media only screen and (max-width: 1000px) {
  .deejay-content .deejay-image .deejay-image-text {
    margin: 0 auto;
  }
  .deejay-content .deejay-image .deejay-image-text h1 {
    font-size: 240px;
    margin-top: 177px;
  }
  .deejay-content .deejay-image .deejay-image-text h2 {
    font-size: 100px;
    line-height: 85px;
    max-width: 300px;
    margin-top: 321px;
  }
  .deejay-content .deejay-text {
    display: block;
    max-width: 440px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .deejay-content .deejay-text p {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.speech-content .speech-image {
  max-width: 980px;
  margin: 50.5px auto 0 auto;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url(../assets/gallery/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.speech-content .speech-image .speech-image-text {
  display: flex;
}
.speech-content .speech-image .speech-image-text h1 {
  font-family: Gill;
  font-size: 300px;
  color: #08ad69;
  margin-top: 120px;
  text-shadow: 5px 5px 6px #00000029;
}
.speech-content .speech-image .speech-image-text h2 {
  font-family: Gill;
  font-size: 140px;
  color: #08ad69;
  margin-top: 268px;
  text-shadow: 5px 5px 6px #00000029;
}
.speech-content .speech-text {
  width: 980px;
  min-height: 133px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.speech-content .speech-text p {
  font-family: Gill;
  font-style: italic;
  font-size: 16px;
  opacity: 0.5;
  max-width: 490px;
  min-height: 200px;
  margin-top: 50.5px;
  margin-bottom: 73px;
  letter-spacing: 1.2px;
}
.speech-content .speech-text .text2 {
  max-width: 451px;
  font-size: 16px;
  letter-spacing: 0.9px;
}

@media only screen and (max-width: 1000px) {
  .speech-content .speech-image .speech-image-text {
    margin: 0 auto;
  }
  .speech-content .speech-image .speech-image-text h1 {
    font-size: 240px;
    margin-top: 177px;
  }
  .speech-content .speech-image .speech-image-text h2 {
    font-size: 100px;
    line-height: 85px;
    max-width: 300px;
    margin-top: 321px;
  }
  .speech-content .speech-text {
    display: block;
    max-width: 440px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .speech-content .speech-text p {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.openfood-content .openfood-image {
  max-width: 980px;
  margin: 50.5px auto 0 auto;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url(../assets/gallery/4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.openfood-content .openfood-image .openfood-image-text {
  display: flex;
}
.openfood-content .openfood-image .openfood-image-text h1 {
  font-family: Gill;
  font-size: 300px;
  color: #540d6e;
  margin-top: 120px;
  margin-left: 2px;
  text-shadow: 5px 5px 6px #00000029;
}
.openfood-content .openfood-image .openfood-image-text h2 {
  font-family: Gill;
  font-size: 115px;
  color: #540d6e;
  margin-top: 291px;
  text-shadow: 5px 5px 6px #00000029;
}
.openfood-content .openfood-text {
  width: 980px;
  min-height: 133px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.openfood-content .openfood-text p {
  font-family: Gill;
  font-style: italic;
  font-size: 16px;
  opacity: 0.5;
  max-width: 490px;
  min-height: 200px;
  margin-top: 50.5px;
  margin-bottom: 73px;
  letter-spacing: 1.2px;
}
.openfood-content .openfood-text .text2 {
  max-width: 451px;
  font-size: 16px;
  letter-spacing: 0.9px;
}

@media only screen and (max-width: 1000px) {
  .openfood-content .openfood-image .openfood-image-text {
    margin: 0 auto;
  }
  .openfood-content .openfood-image .openfood-image-text h1 {
    font-size: 240px;
    margin-top: 177px;
  }
  .openfood-content .openfood-image .openfood-image-text h2 {
    font-size: 90px;
    line-height: 85px;
    max-width: 300px;
    margin-top: 240px;
  }
  .openfood-content .openfood-text {
    display: block;
    max-width: 440px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .openfood-content .openfood-text p {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.international-content .international-image {
  max-width: 980px;
  margin: 50.5px auto 0 auto;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url(../assets/gallery/5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.international-content .international-image .international-image-text {
  display: flex;
}
.international-content .international-image .international-image-text h1 {
  font-family: Gill;
  font-size: 300px;
  color: #3bceab;
  margin-top: 120px;
  margin-left: 2px;
  text-shadow: 5px 5px 6px #00000029;
}
.international-content .international-image .international-image-text h2 {
  font-family: Gill;
  font-size: 115px;
  color: #3bceab;
  min-height: 60px;
  margin-top: 292px;
  text-shadow: 5px 5px 6px #00000029;
}
.international-content .international-text {
  width: 980px;
  min-height: 133px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.international-content .international-text p {
  font-family: Gill;
  font-style: italic;
  font-size: 16px;
  opacity: 0.5;
  max-width: 490px;
  min-height: 200px;
  margin-top: 50.5px;
  margin-bottom: 73px;
  letter-spacing: 1.2px;
}
.international-content .international-text .text2 {
  max-width: 451px;
  font-size: 16px;
  letter-spacing: 0.9px;
}

@media only screen and (max-width: 1000px) {
  .international-content .international-image .international-image-text {
    margin: 0 auto;
  }
  .international-content .international-image .international-image-text h1 {
    font-size: 190px;
    margin-top: 223px;
  }
  .international-content .international-image .international-image-text h2 {
    font-size: 55px;
    line-height: 85px;
    margin-top: 338px;
  }
  .international-content .international-text {
    display: block;
    max-width: 440px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .international-content .international-text p {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.blog-landing-content {
  max-width: 980px;
  min-height: 200px;
  margin: 0 auto;
}
.blog-landing-content h1 {
  max-width: 229px;
  width: 229px;
  margin: 65.5px auto 29.5px 0;
  font-family: Gill;
  font-size: 25px;
  color: black;
  height: 40px;
  border-bottom: black solid 2px;
}
.blog-landing-content .blog-dates {
  max-width: 980px;
  min-height: 200px;
  margin-bottom: 86px;
}
.blog-landing-content .blog-dates .blog-block {
  max-width: 980px;
  min-height: 257px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.blog-landing-content .blog-dates .blog-block .blog {
  width: 460px;
  min-height: 257px;
  display: flex;
  justify-content: space-between;
}
.blog-landing-content .blog-dates .blog-block .blog .date-image {
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blog-landing-content .blog-dates .blog-block .blog .jun06 {
  background-image: url(../assets/dates/june06.png);
}
.blog-landing-content .blog-dates .blog-block .blog .jul30 {
  background-image: url(../assets/dates/jul30.png);
}
.blog-landing-content .blog-dates .blog-block .blog .aug30 {
  background-image: url(../assets/dates/aug30.png);
}
.blog-landing-content .blog-dates .blog-block .blog .nov23 {
  background-image: url(../assets/dates/nov23.png);
}
.blog-landing-content .blog-dates .blog-block .blog .dec23 {
  background-image: url(../assets/dates/dec23.png);
}
.blog-landing-content .blog-dates .blog-block .blog .blog-container {
  width: 380px;
  min-height: 257px;
}
.blog-landing-content .blog-dates .blog-block .blog .blog-container .blogpic {
  width: 380px;
  height: 160px;
  background-image: url(../assets/images/blog.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blog-landing-content .blog-dates .blog-block .blog .blog-container .blog-text {
  font-family: Gill;
  font-size: 15px;
  color: black;
  margin-top: 20px;
}
.blog-landing-content .blog-dates .blog-block .blog .blog-container .two {
  font-family: Gill;
  font-size: 13px;
  color: #ee4367;
}

@media only screen and (max-width: 950px) {
  .blog-landing-content h1 {
    margin: 0 auto;
    margin-top: 25px;
  }
  .blog-landing-content .blog-dates {
    width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .blog-landing-content .blog-dates .blog-block {
    display: block;
    margin: 0 auto;
    margin: 0 auto;
  }
}
.blogone-content {
  max-width: 980px;
  min-height: 200px;
  margin: 0 auto;
}
.blogone-content .blog-hero {
  max-width: 980px;
  height: 300px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../assets/images/blog.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 55.5px;
  margin-bottom: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogone-content .blog-hero .date-image {
  width: 155px;
  height: 155px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blogone-content .blog-hero .jun06 {
  background-image: url(../assets/dates/june06.png);
}
.blogone-content .blog-text {
  max-width: 856px;
  min-height: 200px;
  margin-bottom: 151px;
}
.blogone-content .blog-text h1 {
  font-family: Gill;
  font-size: 20px;
  color: #ee4367;
  margin-top: 57px;
}
.blogone-content .blog-text p {
  opacity: 0.5;
  margin-top: 30px;
  font-family: Gill;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.75px;
}

@media only screen and (max-width: 1000px) {
  .blogone-content .blog-hero .date-image {
    width: 90px;
    height: 90px;
  }
  .blogone-content .blog-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.jul30 {
  background-image: url(../assets/dates/jul30.png);
}

.aug30 {
  background-image: url(../assets/dates/aug30.png);
}

.nov23 {
  background-image: url(../assets/dates/nov23.png);
}

.dec23 {
  background-image: url(../assets/dates/dec23.png);
}

.contact-content {
  max-width: 980px;
  min-height: 200px;
  margin: 0 auto;
}
.contact-content h1 {
  max-width: 229px;
  width: 229px;
  margin: 65.5px auto 0 0;
  font-family: Gill;
  font-size: 25px;
  color: black;
  height: 40px;
  border-bottom: black solid 2px;
}
.contact-content .contact-container {
  max-width: 980px;
  min-height: 442px;
  margin-top: 65.5px;
  display: flex;
  justify-content: space-between;
}
.contact-content .contact-container .contact-form {
  max-width: 529px;
  min-height: 442px;
  margin-bottom: 21px;
}
.contact-content .contact-container .contact-form input {
  width: 529px;
  height: 60px;
  margin-bottom: 21px;
  border: none;
  background-color: #f5f5f5;
  display: flex;
  padding-left: 10px;
}
.contact-content .contact-container .contact-form #message {
  width: 529px;
  height: 199px;
  display: flex;
}
.contact-content .contact-container .contact-form .contact {
  width: 167px;
  height: 60px;
  background-color: #ee4367;
  font-family: Gill;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}
.contact-content .contact-container .map {
  width: 400px;
  height: 442px;
  background-image: url(../assets/images/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1000px) {
  .contact-content h1 {
    margin-left: 50px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .contact-content .contact-container {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact-content .contact-container .contact-form {
    margin: 0 auto;
  }
  .contact-content .contact-container .contact-form input {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contact-content .contact-container .contact-form #message {
    width: 400px;
  }
  .contact-content .contact-container .contact-form .contact {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .contact-content .contact-container .map {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
footer {
  width: 100%;
  min-height: 455px;
  background-color: #ee4367;
  padding-top: 30px;
}
footer .footer-content {
  min-height: 396px;
  max-width: 696px;
  margin: 0 auto;
  display: block;
}
footer .footer-content .logo {
  width: 92px;
  height: 42px;
  background-image: url(../assets/logo/logo-white.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
footer .footer-content .address {
  width: 275px;
  height: 75px;
  font-family: Gill;
  font-size: 16px;
  color: white;
  margin: 0 auto;
  text-align: center;
  line-height: 10px;
  margin-top: 46px;
}
footer .footer-content .container {
  max-width: 696px;
  height: 60px;
  display: flex;
  margin-top: 46px;
}
footer .footer-content .container input {
  width: 529px;
  height: 60px;
  background-color: #f56b88;
  border: none;
}
footer .footer-content .container ::placeholder {
  font-family: Gill;
  font-size: 16px;
  color: white;
  padding-left: 10px;
  opacity: 0.5;
}
footer .footer-content .container .subscribe {
  width: 167px;
  height: 60px;
  background-color: white;
  font-family: Gill;
  font-size: 16px;
  color: #ee4367;
  border: none;
}
footer .footer-content .socials {
  width: 156px;
  height: 41px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
}
footer .footer-content .socials .icon {
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .footer-content .socials .fbook {
  background-image: url(../assets/social-media/facebook.png);
}
footer .footer-content .socials .insta {
  background-image: url(../assets/social-media/insta.png);
}
footer .footer-content .socials .twitter {
  background-image: url(../assets/social-media/twitter.png);
}
footer .footer-content .copywright {
  font-family: Gill;
  font-size: 12px;
  color: white;
  opacity: 0.5;
  text-align: center;
  margin-top: 46px;
}

@media only screen and (max-width: 1075px) {
  footer .footer-content .container {
    width: 350px;
    margin: 0 auto;
    background-color: seagreen;
  }
  footer .footer-content .container input {
    width: 250px;
  }
  footer .footer-content .container .subscribe {
    width: 100px;
    text-align: center;
  }
}