* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  src: url(fonts/GillSans.ttf);
}
@font-face {
  font-family: "PTSerif-Bold.ttf";
  src: url(fonts/PTSerif-Bold.ttf);
}
@font-face {
  font-family: "PTSerif-BoldItalic.ttf";
  src: url(fonts/PTSerif-BoldItalic.ttf);
}
@font-face {
  font-family: "PTSerif-Italic.ttf";
  src: url(fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: "PTSerif-Regular.ttf";
  src: url(font/PTSerif-Regular.ttf);
}
.hero {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../assets/images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero nav {
  width: 980px;
  height: 75px;
  border-bottom: white solid 2px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
}
.hero nav .logo {
  width: 92px;
  height: 42px;
  background-image: url(../assets/logo/logo-white.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero nav .links {
  width: 389px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 23px;
}
.hero nav .links a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.hero nav .links span {
  color: #ee4367;
}

.hero-content {
  max-width: 420px;
  height: 220px;
  background-color: seagreen;
  margin: 0 auto;
  margin-top: 64px;
}