* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

// ==========FONTS============//

@font-face {
  font-family: "Gill";
  font-style: italic;
  font-weight: normal;
  src: url(fonts/GillSans.ttf);
}

@font-face {
  font-family: "PTBold";
  src: url(fonts/PTSerif-Bold.ttf);
}

@font-face {
  font-family: "PTBoldItalic";
  src: url(fonts/PTSerif-BoldItalic.ttf);
}

@font-face {
  font-family: "PTItalic";
  src: url(fonts/PTSerif-Italic.ttf);
}

@font-face {
  font-family: "PTRegular";
  src: url(font/PTSerif-Regular.ttf);
}
