// ======colors=========//
$purple: #540d6e;
$pink: #ee4367;
$yellow: #ffd140;
$aqua: #3bceab;
$green: #08ad69;
$white: white;
$black: black;

// =======OVERLAYS===========//

$overlaypurp: rgba(84, 13, 110, 0.7);
$overlaypink: rgba(238, 67, 103, 0.7);
$overlayyellow: rgba(255, 209, 64, 0.7);
$overlayaqua: rgba(59, 206, 171, 0.7);
$overlaygreen: rgba(8, 173, 105, 0.7);

// =======font=========//

$font-one: Gill;
$font-two: PTSerif-Bold;
$font-three: PTSerif-BoldItalic;
$font-four: PTSerif-Italic;
$font-five: PTSerif-Regular;
