.deejay-content {
  .deejay-image {
    @include center(980px, 50.5px auto 0 auto);
    height: 400.5px;
    background-image: linear-gradient(to right, $overlaypink, $overlaypink),
      url(../assets/gallery/2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    .deejay-image-text {
      display: flex;
      h1 {
        font-family: $font-one;
        font-size: 300px;
        color: $pink;
        margin-top: 120px;
        text-shadow: 5px 5px 6px #00000029;
      }

      h2 {
        font-family: $font-one;
        font-size: 140px;
        color: $pink;
        margin-top: 268px;
        text-shadow: 5px 5px 6px #00000029;
      }
    }
  }
  .deejay-text {
    max-width: 980px;
    min-height: 133px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    p {
      font-family: $font-one;
      font-style: italic;
      font-size: 16px;
      opacity: 0.5;
      max-width: 490px;
      min-height: 200px;
      margin-top: 50.5px;
      margin-bottom: 73px;
      letter-spacing: 1.2px;
    }

    .text2 {
      max-width: 451px;
      font-size: 16px;
      letter-spacing: 0.9px;
    }
  }
}
// =======RESPONSIVENESS========//@extend
@media only screen and (max-width: 1000px) {
  .deejay-content {
    .deejay-image {
      .deejay-image-text {
        margin: 0 auto;
        h1 {
          font-size: 240px;
          margin-top: 177px;
        }
        h2 {
          font-size: 100px;
          line-height: 85px;
          max-width: 300px;
          margin-top: 321px;
        }
      }
    }
    .deejay-text {
      display: block;
      // margin: 0 auto;
      max-width: 440px;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-left: 15px;
      padding-right: 15px;

      p {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
}
