.blog-hero .date-image {
  width: 155px;
  height: 155px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-hero .jul30 {
  background-image: url(../assets/dates/jul30.png);
}